<h1><b>תקנון:</b></h1>
<div class="divInformation">
  <h4>עדכון אחרון מרץ, 2022:</h4>
    <div>מטעמי נוחות נעשה בתקנון זה שימוש בלשון זכר אך כל האמור בתקנון מתייחס לשני המינים, זכר ונקבה, כאחד ו/או רבים.</div>
    <div> אנא שים לב שתנאים אלה כוללים את התנאים הנוספים המשולבים כאן בהפניה. אם אתה חושב שיש טעות בתנאים אלה, אנא פנה אלינו.</div>
    <div>תנאי שירות אלה מסדירים את הגישה והשימוש שלך באתר ובכל התוכן והשירותים הניתנים דרך האתר, אנא קרא תנאי שירות אלה בעיון לפני השימוש באתר.</div>
    <div>אם תפר אחד מתנאי שירות אלה - המשלבים בהתייחסות את מדיניות הפרטיות של החברה, או מפרים בדרך אחרת הסכם בינך לביננו, בעלות האתר רשאיות להפסיק את ההרשמה שלך, למחוק את הפרופיל שלך וכל תוכן או מידע שפרסמת באתר</div>
    <div>והן אוסרות עליך להשתמש או לגשת לאתר (או כל חלק, היבט או תכונה של האתר), בכל עת לפי שיקול דעתן הבלעדי, עם או בלי הודעה מוקדמת.</div>
    <div>כל עדכונים או שינויים במדיניות זו יפורסמו באתר האינטרנט שלנו בדף זה. על ידי שימוש או גישה לשירותים, אתה מצהיר שקראת, הבנת והסכמת להיות מחויב למדיניות זו.</div>
</div>


<ol start="1">
  <tr><h3><b>תנאים והגדרות:</b></h3></tr>
  <li>
    <span>במידה והלקוח קטין (מתחת לגיל 18), יתבקש הקטין כי הוריו יאשרו תקנון זה, משאשרו הוריו של הקטין את התקנון הרי בעלות האתר פטורות מכל אחריות, ואישור ההורים מהווה ויתור על כל טענה ו/או תביעה ו/או דרישה מכל סוג שהוא.</span>
  </li>
  <li>
    <span>בעלות האתר רשאיות על פי שיקול דעתן לשנות תקנון זה וזאת ללא צורך במתן הודעה מוקדמת ובכפוף לכל דין.</span>
  </li>
  <li>
    <span>על ידי ביצוע הזמנה, אתה מסכים להיות מחויב לתנאים ולהגבלות המפורטים להלן. אם אינך מסכים להיות מחויב לתנאים והגבלות אלה, אינך רשאי לבצע הזמנה.</span>
  </li>
</ol>


<ol start="4">
  <tr><h3><b>ביטול תור:</b></h3></tr>
  <li>
    בכל מקרה של ביטול תור תוכל לפעול בתוך המועדים המפורטים לעיל, באחת מן הדרכים הבאות:
    <ul>
      <li><span>באמצעות דואר אלקטרוני לכתובת:  4Dogs@gmail.com.</span></li>
      <li><span>על ידי פנייה לאותו בעל העסק שנמצא בכל קטגוריה הנ"ל - אילוף/מספרות/פנסיון.</span></li>
    </ul>
  </li>
  <li>
    בעל העסק רשאי לבטל כל עיסקה שלא נראת לו לנכון,עסקה במועד לא תקין ו/או שאינה עומדת בתנאי התקנון.
  </li>
</ol>


<ol start="6">
  <tr><h3><b>המידע שלך:</b></h3></tr>
  <li>
    <span>אתה מאשר שכל מידע אישי שאתה מספק בעת רישום חשבון אצלנו או ביצוע הזמנה הוא נכון, מדויק, עדכני ומלא מכל הבחינות. אנו נשתמש רק במידע האישי שלך כמפורט במדיניות הפרטיות שלנו.</span>
  </li>
  <li>
    <span>לבעלות האתר קיימת חשיבות מירבית לפרטיות לקוחותיה ומתחייבת לשמור בסוד כל מידע אשר יעבור לה מלקוחותיה ולנקוט באמצעי הזהירות המקובלים על מנת לבצע את האמור.</span>
  </li>
  <li>
    <span>אתה מסכים לא להתחזות לכל אדם או ישות אחרת או להשתמש בשם בדוי או בשם שאינך מורשה להשתמש בהם.</span>
  </li>
</ol>

