<table class="footer">
  <tr>
    <td><b>צרו עימנו קשר:</b></td>
  </tr>
  <tr>
    <td> רותם - 054-4723397 /  שני - 052-6778938 </td>
  </tr>
</table>

<table class="footer">
  <tr>
    <td><b>תקנון האתר:</b></td>
    <td><a routerLink="/Terms" target="_blank"><img class="icon2 btn" src="../../../assets/info.png" matTooltip="About"></a></td>
    <td><b>תמצאו אותנו גם כאן:</b></td>
    <td><a href="https://www.google.com/intl/iw/gmail/about/" target="_blank"><img class="btn" src="../../../assets/email.png" matTooltip="Gmail"></a></td>
    <td><a href="https://www.facebook.com/business/help" target="_blank"><img class="btn" src="../../../assets/facebook.png" matTooltip="Facebook"></a></td>
    <td><a href="https://business.instagram.com/" target="_blank"><img class="btn" src="../../../assets/instegram.png" matTooltip="Instegram"></a></td>
  </tr>
</table>

<table class="footer">
  <tr>
    <td><img src="../../../assets/small.jpg"></td>
  </tr>
  <tr>
    <td><div> © כל הזכויות שמורות לרותם פאר ושני מוטהדה 2022 | אין להעתיק תוכן ו/או תמונות ללא אישור נציג החברה</div></td>
  </tr>
</table>

