/* עיצוב הטבלה - אמצע */
.tableUserData{
  margin-left: auto;
  margin-right: auto;
}

h2{
  letter-spacing: .0725rem;
  font-size: 1.675rem;
  line-height: 1.05;
  text-align: center;
  color: #62554a;
  font-family: Yeezy Tstar Bold;
}

.cityAndRace{
  text-align: start;
}

/* רשימת ערים וגזעים בצד ימין */
.optionCityRace{
  text-align: right;
}

/* עיצוב תיבה - עגול */
.Circle{
  border-radius: 50px;
  background-color: white;
}

/* שם התוכן */
.NameInput{
  text-align: start;
}

/* מיקום כפתור */
.buttonFin{
  text-align: center;
}

.backBtn{
  margin-top: 10px;
  margin-bottom: 10px;
}

.DirName{
  text-align: center;
  font-size: 19px;
  line-height: 1.05;
  letter-spacing: .0625rem;
  letter-spacing: .0625rem;
  color: #62554a;
  font-family: Yeezy Tstar Bold;
  text-align: center;
}

.trDir{
  text-align: center;
  direction: rtl;
}

.Allbtn{
  width: auto;
  height: auto;
  padding-left: 6px;
  padding-right: 6px;
  margin-left: 8px;
  margin-right: 8px;
}

/* שגיאות תיבת הזנה */
.ng-touched {
 border-color: red;
}

.ng-valid {
  border-color: green;
}

.ng-intouched {
  border-color: green;
}






