h1{
  margin-top: 40px;
  margin-bottom: 30px;
  font-size: 1.875rem;
  line-height: 1.05;
  letter-spacing: .0625rem;
  letter-spacing: .0625rem;
  color: #62554a;
  font-family: Yeezy Tstar Bold;
  text-align: center;
}

.trDir{
  text-align: center;
  direction: rtl;
}

.DirName{
  text-align: center;
  font-size: 19px;
  line-height: 1.05;
  letter-spacing: .0625rem;
  letter-spacing: .0625rem;
  color: #62554a;
  font-family: Yeezy Tstar Bold;
  text-align: center;
}

.OrderDetails{
  direction: rtl;
  display:contents;
}

.Allbtn{
  width: auto;
  height: auto;
  padding-left: 6px;
  padding-right: 6px;
  margin-left: 8px;
  margin-right: 8px;
}

